@font-face {
  font-family: "DSEG7Modern";
  src: url("https://cdn.jsdelivr.net/npm/dseg@0.46.0/fonts/DSEG7-Modern-MINI/DSEG7ModernMini-Regular.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/npm/dseg@0.46.0/fonts/DSEG7-Modern-MINI/DSEG7ModernMini-Regular.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  font-family: sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul,
ol {
  list-style: none;
}

.flex {
  display: flex;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  display: block;
}

button,
input,
textarea,
select {
  font: inherit;
  background: none;
  border: none;
  outline: none;
}

div.container {
  justify-content: center;
  align-items: center;
  background: linear-gradient(45deg, #12c2e9, #c471ed, #f64f59);
  height: 100vh;
}

main {
  background-color: rgb(207, 207, 207);
  width: 350px;
  height: 500px;
  border-radius: 1rem;
  border: 5px solid rgb(240, 240, 240);
}
.main__display {
  background-color: rgb(33, 42, 35);
  height: 12%;
  border-radius: 1rem 1rem 0 0;
  align-items: center;
  justify-content: end;
  padding-top: 5px;
}

#highlight {
  color: rgb(63, 255, 149);
}

.main__display__output {
  font-family: "Digital-7 Mono", monospace;
  color: rgb(63, 255, 149);
  font-size: 3.4rem;
  z-index: 1;
  letter-spacing: 3.8px;
  padding-right: 10px;
  overflow: hidden;
}

.main__btn {
  background-color: rgb(57, 57, 57);
  height: 88%;
  border-radius: 0 0 1rem 1rem;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 1.5rem;
}

.main__btn__logo {
  font-size: 1.3rem;
  color: aliceblue;
  width: 350px;
  height: 30px;
  justify-content: space-between;
  padding: 0 1rem;
  transform: translate(0, 5px);
}

.main__btn__logo__circle {
  display: flex;
}

.main__btn__logo__circle__window {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin: 5px;
}

.main__btn__logo__circle__window:hover {
  filter: brightness(85%);
}

.main__btn__logo__copyright {
  margin-left: auto;
  font-size: 1.3rem;
  color: aliceblue;
}

#btn-red {
  background-color: #ff605c;
  justify-self: start;
}
#btn-yellow {
  background-color: #ffbd44;
}
#btn-green {
  background-color: #00ca4e;
}

.main__btn__keypad {
  width: 65px;
  height: 65px;
  margin: 5px;
  background-color: white;
  border: 5px outset rgb(249, 249, 249);
  border-radius: 0.3rem;
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.main__btn__keypad:hover {
  filter: brightness(85%);
}

.main__btn__keypad:active {
  background-color: rgb(219, 219, 219);
  border: 2px outset rgb(249, 249, 249);
}

.main__btn__keypad__bot {
  margin: 5px 5px 10px 5px;
}

#pad_equals {
  font-size: 2rem;
  background-color: rgb(255, 153, 0);
  border: 5px outset rgb(255, 153, 0);
  margin: 5px 5px 10px 5px;
}

#pad_equals:active {
  background-color: rgb(209, 125, 0);
  border: 2px outset rgb(255, 153, 0);
}
